<!doctype html>
<html>
  <head>
    <title>Outage Monitor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='leaflet.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script src="{{ url_for('static', filename='leaflet.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/1406e849ab.js" crossorigin="anonymous"></script>
  </head>
  <body  style="background-image: url({{ url_for('static', filename='bg.jpg') }})">
    <div class="container">      
      {% if session['isAdmin'] %}
      <nav id="sidebarMenu" class="collapse d-lg-block sidebar bg-white">
        <div class="position-sticky">
          <div class="list-group list-group-flush mx-3 mt-4">
            <a href="/outages" class="list-group-item list-group-item-action py-2 ripple">
              <i class="fas fa-bolt fa-fw me-3"></i><span>Outages</span>
            </a>
            <a href="/add-technician" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
              <i class="fas fa-users fa-fw me-3"></i><span>Add Technician</span>
            </a>
            <!-- TODO save data to database -->
            <a href="/order-device" class="list-group-item list-group-item-action py-2 ripple">
              <i class="fas fa-folder-plus fa-fw me-3"></i><span>Order Device</span>
            </a>
            <a href="/orders" class="list-group-item list-group-item-action py-2 ripple">
              <i class="fas fa-shopping-bag fa-fw me-3"></i><span>My Orders</span>
            </a>
            <a href="/scheduledOutages" class="list-group-item list-group-item-action py-2 ripple">
              <i class="fas fa-calendar-times fa-fw me-3"></i><span>Scheduled Outages</span>
            </a>
            <a href="/logout" class="list-group-item list-group-item-action py-2 ripple">
              <i class="fas fa-lock fa-fw me-3"></i><span>Logout</span>
            </a>
          </div>
        </div>
      </nav>
      <!-- Navbar -->
      <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>
          <a class="navbar-brand" href="/landing_page">
            <img src="{{ url_for('static', filename='nameLogo.png') }}" style="width:170px; height:27px;">
          </a>

          <ul class="navbar-nav ms-auto d-flex flex-row">
            <!-- Avatar -->
            <li class="nav-item" >
              <i class="fas fa-user rounded-circle center" ></i>
              <label>Hello {{ session['name'] }}</label>
            </li>
          </ul>
        </div>
        <!-- Container wrapper -->
      </nav>
      <!-- Navbar -->
      {% elif session['isSuperAdmin'] %}
        <nav id="sidebarMenu" class="collapse d-lg-block sidebar bg-white">
          <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
              <a href="/add_admin" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                <i class="fas fa-users fa-fw me-3"></i><span>Add admin</span>
              </a>
              <!-- TODO list of companies or clients -->
              <a href="/client" class="list-group-item list-group-item-action py-2 ripple"><i
                  class="fas fa-building fa-fw me-3"></i><span>Clients</span>
              </a>
              <a href="/orders" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-chart-area fa-fw me-3"></i><span>Orders</span>
              </a>              
              <a href="/devices" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas  fa-laptop fa-fw me-3"></i><span>Devices</span>
              </a>
              <a href="/messages" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-envelope fa-fw me-3"></i><span>Device messages</span>
              </a>              
              <a href="/feedback" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-comments fa-fw me-3"></i><span>Feedback</span>
              </a>
              <a href="/logout" class="list-group-item list-group-item-action py-2 ripple"><i
                  class="fas fa-lock fa-fw me-3"></i><span>Logout</span></a>
            </div>
          </div>
        </nav>
        <!-- Navbar -->
        <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarMenu"
              aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/landing_page">
              <img src="{{ url_for('static', filename='nameLogo.png') }}" style="width:170px; height:27px;">
            </a>

            <ul class="navbar-nav ms-auto d-flex flex-row">
              <!-- Avatar -->
              <li class="nav-item" >
                <i class="fas fa-user rounded-circle center" ></i>
                <label>Hello {{ session['name'] }}</label>
              </li>
            </ul>
          </div>
          <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
      {% endif %}
      {% block content %}{% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </body>
</html>
