<!doctype html>
<html>
  <head>
    <title>Outage Monitor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='leaflet.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script src="{{ url_for('static', filename='leaflet.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/1406e849ab.js" crossorigin="anonymous"></script>
  </head>
  <body  style="background-image: url({{ url_for('static', filename='bg.jpg') }});">
    <div class="container">      
      {% if session['isAdmin'] %}
      <!-- <nav class="navbar navbar-expand-md navbar-dark bg-transparent">
          <a class="navbar-brand text-success font-weight-bold" href="/">Utility Tracker</a>
          <div>
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
                  <span class="navbar-toggler-icon"></span>
                  <span class="navbar-toggler-icon"></span>
                  <span class="navbar-toggler-icon"></span>
              </button>

          </div>
          <div class="collapse navbar-collapse">
              <ul class="navbar-nav mr-auto" id="nav">
                <li class="nav-item"> <a class="nav-link" href="/user">Users</a> </li>
                <li class="nav-item"> <a class="nav-link" href="/devices">Devices</a> </li>
                <li class="nav-item"> <a class="nav-link" href="/messages">Messages</a> </li>
                <li class="nav-item"> <a class="nav-link" href="/add-technician">Add Technician</a> </li>
                <li class="nav-item"> <a class="nav-link" href="/order-device">Order Device</a> 
                </li><a href="/logout" class="list-group-item list-group-item-action py-2 ripple"><i
                  class="fas fa-lock fa-fw me-3"></i><span>Logout</span></a>
              </ul>
          </div>
      </nav> -->
      <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
          <div class="list-group list-group-flush mx-3 mt-4">
            <a href="#" class="list-group-item list-group-item-action py-2 ripple">
              <i class="fas fa-bolt fa-fw me-3"></i><span>Outages</span>
            </a>
            <a href="/add-technician" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
              <i class="fas fa-users fa-fw me-3"></i><span>Add Technician</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action py-2 ripple">
              <i class="fas fa-chart-area fa-fw me-3"></i><span>Technicians Report</span>
            </a>
            <a href="/order-device" class="list-group-item list-group-item-action py-2 ripple">
              <i class="fas fa-folder-plus fa-fw me-3"></i><span>Order Device</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action py-2 ripple">
              <i class="fas fa-shopping-bag fa-fw me-3"></i><span>My Orders</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action py-2 ripple">
              <i class="fas fa-calendar-times fa-fw me-3"></i><span>Scheduled Outages</span>
            </a>
            <a href="/logout" class="list-group-item list-group-item-action py-2 ripple">
              <i class="fas fa-lock fa-fw me-3"></i><span>Logout</span>
            </a>
          </div>
        </div>
      </nav>
      <!-- Navbar -->
      <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
            aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>
          <a class="navbar-brand" href="/landing_page">
            <img src="{{ url_for('static', filename='nameLogo.png') }}" height="25" />
          </a>

          <ul class="navbar-nav ms-auto d-flex flex-row">
            <!-- Notification dropdown -->
            <!-- TODO Number of notification from the database -->
            <li class="nav-item dropdown">
              <a class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink"
                role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-bell"></i>
                <span class="badge rounded-pill badge-notification bg-danger">1</span>
              </a>
            </li>

            <!-- Avatar -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#"
                id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-user rounded-circle" ></i>
                <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle"
                  height="22" /> -->
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                <li>
                  <a class="dropdown-item" href="#">My profile</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Settings</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Logout</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- Container wrapper -->
      </nav>
      <!-- Navbar -->
      {% elif session['isSuperAdmin'] %}
        <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
          <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
              <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-chart-area fa-fw me-3"></i><span>Orders</span>
              </a>
              <a href="/add_admin" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                <i class="fas fa-users fa-fw me-3"></i><span>Add admin</span>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
                  class="fas fa-building fa-fw me-3"></i><span>Clients</span></a>
              <a href="/logout" class="list-group-item list-group-item-action py-2 ripple"><i
                  class="fas fa-lock fa-fw me-3"></i><span>Logout</span></a>
            </div>
          </div>
        </nav>
        <!-- Navbar -->
        <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
              aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/landing_page">
              <img src="{{ url_for('static', filename='nameLogo.png') }}" height="25" />
            </a>

            <ul class="navbar-nav ms-auto d-flex flex-row">
              <!-- Notification dropdown -->
              <!-- TODO Number of notification from the database -->
              <li class="nav-item dropdown">
                <a class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink"
                  role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                  <i class="fas fa-bell"></i>
                  <span class="badge rounded-pill badge-notification bg-danger">1</span>
                </a>
              </li>

              <!-- Avatar -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#"
                  id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                  <i class="fas fa-user rounded-circle" ></i>
                  <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle"
                    height="22" /> -->
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                  <li>
                    <a class="dropdown-item" href="#">My profile</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Settings</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Logout</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
      {% endif %}
      {% block content %}{% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </body>
</html>
