{% extends "base.html" %}

{% block content %}
    <h1>Device</h1>
    <p>Device ID: {{ dev.dev_id }}</p>
    <p>Latitude: {{ dev.lat }}</p>
    <p>Longitude: {{ dev.long }}</p>
    <div id="map" style="height: 250px;"></div>

    <script>
      var map = L.map('map').setView([{{dev.lat}}, {{dev.long}}], 11)
      var layer = L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="https://cartodb.com/attributions">CartoDB</a>'
      })
      map.addLayer(layer)
    </script>

{% endblock %}
