
{% extends "base.html" %}

{% block content %}
<div class="jumbotron bg-transparent">
  <div class="row justify-content-start">
    <div class="card bg-transparent border-0">
      <div class="card-body">
        <div class="d-flex ms-5">
            <img src="{{ url_for('static', filename='UTLogo.png') }}" style="width:270px; height:270px;">
        </div>
      </div>
    </div>
    <div class="card w-50" style="background-color: rgba(255,255,255,.5);">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="form-group-sm">
              <label>Email / Username</label>
              <div class="input-group">
                  <input id="txtemail" type="email" class="form-control" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
              <div class="form-group">
                  <label>Password</label>
                  <div class="input-group">
                      <input id="txtpass" type="password" class="form-control" />
                  </div>
              </div>
          </div>
        </div>
        <div class="d-flex mt-3 justify-content-center">
          <button id="btnLogin" class="btn" style="background: linear-gradient(to right, #5bc0de, #9dd9eb);">Signup</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('#btnLogin').click(function () {
        var email = $('#txtemail').val();
        var pass = $('#txtpass').val();
        var length = email.length;

        if (email == "" || pass == "") {
            alert('Please enter email and password');
        }
        else {
            // $.post('https://outage-monitor.azurewebsites.net/api/v1/login', {
            $.post('http://127.0.0.1:5000/api/v1/login', {
                password: pass,
                email: email
            }, function (data, status) {
                alert('Super Admin: ' + data);
            });
        }
    });
  });
  // fetch('https://outage-monitor.azurewebsites.net/api/v1/login', {
  //   method: 'POST',
  //   headers: {
  //     Accept: 'application/json',
  //     'Content-Type': 'application/json'
  //   },
  //   body: JSON.stringify({
  //     email: email,
  //     password: password
  //   })
  // })
  // .then((response) => response.json())
  // .then((json) => {
  //   if(json.status == 'success') {
  //     alert(json.message);
  //   }
  //   else {
  //     alert(json.message);
  //   }
  // })
  // .catch((error) => {
  //   console.error(error);
  // })
</script>

{% endblock %}
